<!doctype html>
<html>
	<head>
		<title>Ex00 : Markdown Cheatsheet.</title>
	</head>
	<body>

		<pre>
			Quelques exemples
			Voici quelques exemples de syntaxe Markdown. Quelques balises HTML équivalentes sont données.

			Cette liste n'est pas exhaustive.

			Formatage
			Pour mettre du texte en emphase (balise HTML &lt;em&gt;), ce qui produit une mise en italique dans un navigateur courant :

			*quelques mots* ou  _quelques mots_
			Pour mettre du texte en grande emphase (balise HTML &lt;strong&gt;), ce qui produit une mise en gras dans un navigateur courant :

			**plus important**
			Pour souligner :

			__également important__
			Pour mettre du code dans le texte (balise HTML &lt;code&gt;) :

			Mon texte `code` fin de mon texte
			Pour un paragraphe de code, mettre quatre espaces devant :

			    Première ligne de code
			    Deuxième ligne
			Comme dans les courriels, il est possible de faire des citations :

			&gt; Ce texte apparaîtra dans un élément HTML &lt;blockquote&gt;.
			Pour faire un nouveau paragraphe, sauter une ligne

			Premier paragraphe

			Deuxième paragraphe   
			Pour faire un simple retour à la ligne, mettre deux espaces en fin de ligne (balise HTML &lt;br&gt;).

			Listes
			Sauter une ligne avant le début de la liste.

			Pour créer une liste non ordonnée (balise HTML &lt;ul&gt;) :

			* Pommes
			* Poires
			    * Sous élément avec au moins quatre espaces devant.
			    
			Et une liste ordonnée (balise HTML &lt;ol&gt;) :

			1. mon premier
			2. mon deuxième
			Et une liste en mode case à cocher

			- [ ] Case non cochée
			- [x] Case cochée
			Titres
			Les titres sont créés avec un certain nombre de # avant le titre, qui correspondent au niveau de titre souhaité (le HTML propose 6 niveaux de titres de &lt;h1&gt; à &lt;h6&gt;)

			# un titre de premier niveau
			#### un titre de quatrième niveau
			Pour les deux premiers niveaux de titre (&lt;h1&gt; et &lt;h2&gt;), il est également possible de souligner le titre avec des = ou des - (leur nombre réel importe peu, mais il doit être supérieur à 2).

			Titre de niveau 1
			=====================
			Titre de niveau 2
			-------------------
			Tableaux
			Pour créer des tableaux (balises HTML &lt;tr&gt; et &lt;th&gt;)

			| Titre 1       |     Titre 2     |   Titre 3      |
			| ------------- | -------------   | ---------      |
			| Colonne       |     Colonne     |      Colonne   |
			| Alignée à     |      Alignée au |     Alignée à  |
			| Gauche        |      Centre     |      Droite    |
			Liens
			Pour créer des liens (balise HTML &lt;a&gt;) :

			[texte du lien](url_du_lien "texte pour le titre, facultatif")
			Images
			Pour afficher une image (balise HTML &lt;img&gt;) :

			![Texte alternatif](url_de_l'image "texte pour le titre, facultatif")
		</pre>
	</body>
</html>