{% extends 'base_bootstrap.html.twig' %}

{% block body %}
	<div class="container">
		<h2>{{'hello.paraf' | trans  | nl2br}}</h2>
		<p>{{'blabla.paraf' | trans  | nl2br}}</p> <!-- https://twig.symfony.com/doc/2.x/filters/nl2br.html -->
	</div>
{% endblock %}